

.currency-balance-p{
    font-weight:bold;
    font-size:1.3rem
}


.currency-balance-d{
    display: flex;
    justify-content: center;
    gap:20px;
    background-color: rgba(167, 225, 185, 0.19)
}